## .NET / C# ##
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docobj
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
.vs/
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

## Blazor WebAssembly ##
# Publish output
publish/
**/bin/Release/*/publish/

## Rider ##
.idea/
*.sln.iml

## VS Code ##
.vscode/

## OS ##
.DS_Store
Thumbs.db
desktop.ini

## Logs ##
*.log
