@page "/"

<PageTitle>Connor's Blog</PageTitle>

<section class="post-shell">
    <article class="post-content card shadow-sm border-0">
        <div class="card-body p-4 p-md-5">
        </div>
    </article>
</section>
